{% extends "base.html" %}
{% block internalContent %}
<div class="container my-5">
    <div class="card mx-auto" style="max-width: 600px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">À propos</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Projet :</strong> Système de conversion de coordonnées
          </li>
          <li class="list-group-item">
            <strong>Réalisé par :</strong> Harhouri Rouayda et Rais Marwa
          </li>
          <li class="list-group-item">
            <strong>Classe :</strong> 4ème année Topographie et Géomatique
          </li>
          <li class="list-group-item">
            <strong>Année Universitaire :</strong> 2024/2025
          </li>
          <p> </p>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
